name: Build GUI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest
    if: "${{ !contains(github.event.head_commit.message, 'ci skip') }}"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Cache Python Packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.config/pypoetry
            ~/.cache/pip
          key: python-pkgs-${{ hashFiles('pyproject.toml') }}
          restore-keys: python-pkgs

      - name: Install poetry/vscode-task-runner
        run: |
          pipx install poetry
          pipx install vscode-task-runner

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version-file: .python-version
          cache: poetry

      - name: Get Short SHA
        shell: bash
        run: echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Cache PyInstaller
        id: cache-pynstaller
        uses: actions/cache@v4
        with:
          path: build
          key: pyinstaller-cache-${{ hashFiles('poetry.lock', 'app/**') }}
          restore-keys: |
            pyinstaller-cache

      - name: Build GUI
        run: vtr build --version ${{ env.SHORT_SHA }}

      - name: Test GUI Bundle
        shell: pwsh
        run: ./dist/AVRGUI.*.exe --test-bundle

      - name: Upload GUI Artifact
        if: github.event_name != 'push'
        uses: actions/upload-artifact@v4
        with:
          name: GUI
          path: dist/*.exe

      - name: Create Release
        if: github.event_name != 'pull_request'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.SHORT_SHA }}
          files: dist/*.exe
